<h1>Currency Conversion</h1>

<input [(ngModel)]="inpCurr" (keyup)="giveChange()">

<select [(ngModel)]="inputCurr" style="margin:2%" (change)="giveChange()">
    <option value = "inr">INR</option>
    <option value = "usd">usd</option>
    <option value = "euro">euro</option>
    <option value = "din">(KU)dinar</option>
    <option value = "cd">CD</option>
</select>
<br/>


<input value ="{{optCurr}}" disabled>
<select [(ngModel)]="outputCurr" style="margin:2%" (change)="giveChange()">
    <option value = "inr">INR</option>
    <option value = "usd">usd</option>
    <option value = "euro">euro</option>
    <option value = "din">(KU)dinar</option>
    <option value = "cd">CD</option>
</select>



<br/>
<button (click) = "logit()">log here</button>

