


<button (click)="assignData()">{{btnText}}</button>
<section>
    <table>
        <tr>
            <th>
                userId
            </th>
            <th>
                id
            </th>
            <th>
                title
            </th>
            <th>
                body
            </th>
        </tr>

        <tr *ngFor="let d of data">
            <td>{{d.userId}}</td>
            <td>{{d.id}}</td>
            <td>{{d.title}}</td>
            <td>{{d.body}}</td>
        </tr>
    </table>
</section>