<nav>
    <ul>
        <li routerLinkActive="active" routerLink = "/currency">
            currency-cvr
        </li>
        <li routerLink = "/apiData" routerLinkActive="active">
            api-data
        </li>
    </ul>
</nav>