li {
  display: inline;
  margin: 4px 2%;
  padding: 4px 2%;
}

nav {
  display: block;
  padding: 1%;
  background-color: grey;
  color: rgb(246, 242, 6);
}

.active {
  background-color: lightblue;
}
